@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, .main-menu > li > a, .ltext-102 {
    font-family: 'Roboto', sans-serif ;
}
.hidden  {
    display: none !important;
}

.sub-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sub-menu li {
    margin-right: 20px;
}

.text-red-500 {
    color: #f56565;
}

.text-lg {
    font-size: 1.125rem;
}
